html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#tooltip {
  overflow: auto;
  z-index: 99;
  position: absolute;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  width: 310px; 
  height: 50px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
